/* Login and signup forms */

.account-form button {
    width: 4rem;
    margin-left: 80px;
  }
  
  #signup-form button {
    width: 8rem;
  }
  
  .account-forms {
    padding-left: 20px;
  }
  

.user-profile-div {
  padding: 10px 20px 20px;
  font-size: 0.9rem;
}

.user-profile-div> * {
  margin: 10px 0;
}
